[submodule "themes/color-theme-github"]
	path = themes/color-theme-github
	url = git://github.com/dudleyf/color-theme-github.git
[submodule "themes/color-theme-ir-black"]
	path = themes/color-theme-ir-black
	url = git://github.com/burke/color-theme-ir-black.git
[submodule "themes/color-theme-railscasts"]
	path = themes/color-theme-railscasts
	url = git://github.com/olegshaldybin/color-theme-railscasts.git
[submodule "themes/twilight-emacs"]
	path = themes/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "lib/anything-config"]
	path = lib/anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "lib/coffee-mode"]
	path = lib/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "lib/textmate"]
	path = lib/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "lib/zencoding"]
	path = lib/zencoding
	url = git://github.com/chrisdone/zencoding.git
